<aside class="page-sidebar">
		<ul class="tree-nav tree-root">
		    <li class="tree-leaf">
                <input type="checkbox" checked id="#nav-Introduction">
                <label for="#nav-Introduction">
                    <i class="tree-icon fa fa-fw fa-chevron-down"></i>
                    <a href="/introduction"><span>Introduction</span></a>
                </label>
    			<ul class="tree-nav">
                    <li class="tree-leaf">
                        <i class="fa fa-circle-thin" aria-hidden="true"></i>
                        <a href="/introduction#introduction"><span>Introduction to the Convoy mobile app</span></a>
                    </li>
                    <li class="tree-leaf">
                        <i class="fa fa-circle-thin" aria-hidden="true"></i>
                        <a href="/introduction#appoverview"><span>App overview</span></a>
                    </li>
                </ul>
    		</li>
    		<li class="tree-leaf">
				<input type="checkbox" checked id="#nav-GettingStarted">
				<label for="#nav-GettingStarted">
					<i class="tree-icon fa fa-fw fa-chevron-down"></i>
					<a href="/gettingstarted"><span>Getting started</span></a>
				</label>
				<ul class="tree-nav">
					<li class="tree-leaf">
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						<a href="/gettingstarted#installation"><span>Installation</span></a>
					</li>
					<li class="tree-leaf">
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						<a href="/gettingstarted#registration"><span>Registration and login</span></a>
					</li>
					<li class="tree-leaf">
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						<a href="/gettingstarted#loggingout"><span>Logging out</span></a>
					</li>
				</ul>
            </li>
            <li class="tree-leaf">
				<input type="checkbox" checked id="#nav-Dashboard">
				<label for="#nav-Dashboard">
					<i class="tree-icon fa fa-fw fa-chevron-down"></i>
					<a href="/dashboard"><span>Dashboard</span></a>
				</label>
            </li>
            <li class="tree-leaf">
				<input type="checkbox" checked id="#nav-HowTo">
				<label for="#nav-HowTo">
					<i class="tree-icon fa fa-fw fa-chevron-down"></i>
					<a href="/howto"><span>How to</span></a>
				</label>
				<ul class="tree-nav">
					<li class="tree-leaf">
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						<a href="/howto#viewjobs"><span>View jobs</span></a>
					</li>
					<li class="tree-leaf">
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						<a href="/howto#viewclients"><span>View clients</span></a>
					</li>
					<li class="tree-leaf">
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						<a href="/howto#viewinventory"><span>View inventory</span></a>
					</li>
					<li class="tree-leaf">
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						<a href="/howto#startaudit"><span>Start audit</span></a>
					</li>
					<li class="tree-leaf">
						<i class="fa fa-circle-thin" aria-hidden="true"></i>
						<a href="/howto#contactoffice"><span>Contact office</span></a>
					</li>
				</ul>
            </li>
		</ul>
	</aside>