<!DOCTYPE html>
<html lang="en">

<head>
    <!-- SEO Meta tags -->
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="description" content="{{meta_description}}">
    <meta name="keywords" content="{{meta_keywords}}">
    <meta name="author" content="{{meta_author}}">
    <!-- End of SEO Meta tags -->

    <!-- Mobile Meta tags -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
    <!-- End of Mobile Meta tags -->

    <script src="https://heinventions.github.io/docnado-site/example-site/lib/jquery-3.2.1.slim.min.js"></script>
    <script src="https://heinventions.github.io/docnado-site/example-site/lib/bootstrap-4.0.0.min.js"></script>
    <script src="https://heinventions.github.io/docnado-site/example-site/lib/highlight-9.12.0.min.js"></script>
    <script src="https://heinventions.github.io/docnado-site/example-site/lib/bootbox-4.4.0.min.js"></script>

    <!-- Stylesheets -->
    
    <link rel="stylesheet" href="https://heinventions.github.io/docnado-site/example-site/lib/highlightjs-9.12.0.min.css">
    <link rel="stylesheet" href="https://heinventions.github.io/docnado-site/example-site/lib/bootstrap-4.0.0.min.css">
    <link rel="stylesheet" href="https://heinventions.github.io/docnado-site/example-site/lib/font-awesome-4.7.0.min.css">
    <link rel="stylesheet" href="https://heinventions.github.io/docnado-site/example-site/default.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    
</head>
