{{>head title="How to" meta_description="" meta_keywords="" meta_author=""}}
<body>
    {{>header}}
    {{>aside}}
    <section class="page-main">
        <div class="page-content">
            <div class="page-header">
                <h1 class="display-4">How to...?</h1>
                <p class="lead">Here we will discuss how to view jobs, clients and inventory, to start audit and to contact office.</p>
            </div>
            <br/>
            <div class="page-md">
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <h4 id="viewjobs">How to view jobs?</h4>
                        <p>To view jobs, firstly, click on the top-left corner tab or top-right corner tab on the dashboard screen or you can also swipe from left to right.</p>
                        <p>Then a dropdown-menu will be displayed with dropdown items such as Dashboard, Jobs, Clients, Inventory, Logout and at the end Contact office.</p>
                        <p>Click on Jobs to view jobs.</p>
                        <p>After clicking on Jobs, you will find a screen with "Your jobs" written. Here you will be able to find the list of upcoming jobs by default and number of jobs missed.</p>
                        <p>On this screen you will find three tabs such as Upcoming, Missed and Completed. By clicking on those tabs respectively you will get the list of upcoming, missed and completed jobs.</p>
                        <p>You can click on any of the jobs from the list and you will get all the details about the job like client location with directions and client contact number i.e. client's WhatsApp number to contact him through WhatsApp.</p>
                        <p>And when you complete the job, you can start audit.</p>
                    </div>
                    <div class="col-md-12 col-lg-4 pb-2">
                        <img src="/images/jobs.jpg" alt="Jobs screen" class="mw-100 h-auto">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <h4 id="viewclients">How to view clients?</h4>
                        <p>To view clients, do the same as to view jobs, i.e. firstly, click on the top-left corner tab or top-right corner tab on the dashboard screen or you can also swipe from left to right.</p>
                        <p>Then a dropdown-menu will be displayed with dropdown items such as Dashboard, Jobs, Clients, Inventory, Logout and at the end Contact office.</p>
                        <p>Click on Clients to view clients.</p>
                        <p>After clicking on Clients, you will be presented a list of clients.</p>
                        <p>Click on the client you want to check and you will be presented with a list of all upcoming jobs, missed jobs and completed jobs of this particular client by clicking on Upcoming, Missed and Completed respectively. By default, the list of upcoming jobs will be displayed.</p>
                        <p>At the bottom of the screen there will be two more tabs:Contact Emergency and Job Description details.</p>
                        <p>You can click on them to contact in emergency and to get the details of the job respectively.</p>
                        <p>By clicking on Job Description, you will be presented with a screen displaying the address, timings and description of the job.</p>
                    </div>
                    <div class="col-md-12 col-lg-4 py-2">
                        <img src="/images/clients.jpg" alt="Clients screen" class="mw-100 h-auto">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <h4 id="viewinventory">How to view inventory?</h4>
                        <p>Again for viewing inventory, follow the same steps such as clicking on the top-left corner tab or top-right corner tab on the dashboard screen or by swiping from left to right.</p>
                        <p>Then in the dropdown-menu click on Inventory.</p>
                        <p>Now you will find the list of inventories. Just swipe to check the next inventory.</p>
                        <p>You can also mark inventory you took or used, in the boxes below the name of each inventory and click on Submit inventory.</p>
                        <p>By doing this, you will receive a notification saying "Thanks for marking inventory, We'll make sure we stock up" on your phone.</p>
                    </div>
                    <div class="col-md-12 col-lg-4 py-2">
                        <img src="/images/inventory.jpg" alt="Inventory screen" class="mw-100 h-auto">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <h4 id="startaudit">How to start audit?</h4>
                        <p>To start audit, click on the tab with timings and client name, on your dashboard screen.</p>
                        <p>Or you can also click on the top-left corner tab or top-right corner tab or you can also swipe from left to right</p>
                        <p>Click on jobs and select a job and then you will find a screen, with Directions tab and Contact client's tab, on that screen at the bottom, there will be a tab named Start Audit.</p>
                        <p>Click on it after completing the job.</p>
                        <p>Then a screen will open, with some instructions, a tab with (All areas) Clean all carpets written and a Submit button.</p>
                        <p>Read the instructions and then click on the tab with (All areas) Clean all carpets written, and then click pictures and hit the submit button.</p>
                    </div>
                    <div class="col-md-12 col-lg-4 py-2">
                        <img src="/images/audit.jpg" alt="Screen for audit" class="mw-100 h-auto">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-lg-8">
                        <h4 id="contactoffice">How to contact office?</h4>
                        <p>Click on the top-left corner tab or top-right corner tab on the dashboard screen or you can also swipe from left to right and you will find a dropdown-menu.</p>
                        <p>Then click on Contact office at the bottom of the dropdown-menu. After clicking on it you can contact the office through WhatsApp.</p>
                    </div>
                    <div class="col-md-12 col-lg-4 pt-2">
                        <img src="/images/logout.jpg" alt="Screen for contact office" class="mw-100 h-auto">
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>